.proj-cta {
  padding: 3rem 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

    @include mobile {
      gap: 4rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    border: 1px solid #a9876b;
    border-radius: 2rem;
  }

  &__title {
    margin-bottom: 5rem;
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
    color: #fff;

    @include mobile {
      font-size: 2.4rem;
      margin-bottom: 2.4rem;
    }
  }
}
