<div class="container">
  <div class="breadcrumbs">
    <ul class="list-reset">
      <li>
        <a href="./">Главная</a>
      </li>
      <li>Проекты</li>
    </ul>
  </div>
</div>
<section class="catalog">
  <div class="container">
    <h1 class="title2 catalog__title">Каталог<br />проектов</h1>

    <div class="catalog__items more-content">
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/01.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/02.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/03.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/04.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/05.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/06.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/01.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/02.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/03.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/04.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/05.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
      <a href="#" class="catalog__item catalog-item">
        <div class="catalog-item__img">
          <img src="./img/catalog/06.webp" alt="" />
        </div>
        <div class="catalog-item__info">
          <div class="catalog-item__header">
            <div class="catalog-item__name">Название</div>
            <div class="catalog-item__name catalog-item__name--price">
              от 4 900 000 ₽
            </div>
          </div>
          <ul class="list-reset catalog-item__chars">
            <li><span>Площадь: </span>230 м2</li>
            <li><span>Комнат: </span>4</li>
            <li><span>Размер: </span>14.5 х 9.5 м</li>
            <li><span>Санузлов: </span>2</li>
          </ul>
        </div>
      </a>
    </div>
    <div class="catalog__bottom">
      <div class="catalog__more more-btn">Показать больше</div>
    </div>
  </div>
</section>
