<section class="cta">
  <div class="container">
    <div class="cta__container">
      <div class="cta__left">
        <h2 class="title2 cta__title">Оставайтесь на связи</h2>
        <address class="cta__address address">
          <div class="address__block">
            <span class="address__capture">Наш адрес</span>
            <span class="address__value"
              >г.Москва.&nbsp;ул.&nbsp;Красноармейская&nbsp;19</span
            >
          </div>
          <div class="address__block">
            <span class="address__capture">Часы работы:</span>
            <span class="address__value">Пн-Вс: 10:00 - 20:00;</span>
          </div>
          <div class="address__block">
            <span class="address__capture">Телефон:</span>
            <a href="tel:+79999912103" class="address__value"
              >+7 (999) 991 21-03</a
            >
          </div>
          <div class="address__block">
            <span class="address__capture">Электронная почта</span>
            <a href="mailto:example@gmail.com" class="address__value"
              >Example@gmail.com</a
            >
          </div>
        </address>
      </div>

      <div class="cta__right">
        <form action="#" class="cta__form form">
          <div class="form__grid">
            <label for="#" class="form__label">
              <input
                type="text"
                class="form__input"
                placeholder="Имя"
                name="Имя"
              />
            </label>
            <label for="#" class="form__label">
              <input
                type="email"
                class="form__input"
                placeholder="Email"
                name="Email"
              />
            </label>
            <label for="#" class="form__label">
              <input
                type="tel"
                class="form__input"
                placeholder="Телефон"
                name="Телефон"
              />
            </label>
            <label for="#" class="form__label">
              <textarea
                placeholder="Сообщение"
                class="form__input form__input--area"
                name="Сообщение"
              ></textarea>
            </label>
          </div>

          <button class="form__btn btn btn-reset">Отправить сообщение</button>
        </form>
      </div>
    </div>
  </div>
</section>
