<section class="fill">
  <div class="container">
    <h2 class="title2 fill__title">Наполнение интерьера</h2>

    <div class="fill__container">
      <div class="fill__content desc">
        <p>
          Наша команда также предоставляет услуги по комплексному наполнению
          интерьеров итальянской мебелью для любых других объектов — будь то
          частные резиденции, элитные апартаменты или коммерческие помещения.
          <br /><br />
          Мы предлагаем не просто доставку мебели — мы создаем целостные
          интерьеры, которые подчеркивают стиль и индивидуальность вашего
          пространства.
        </p>
      </div>

      <div class="fill__images">
        <div class="fill__img">
          <img src="./img/fill/01.webp" alt="" />
        </div>
        <div class="fill__img">
          <img src="./img/fill/02.webp" alt="" />
        </div>
        <div class="fill__img">
          <img src="./img/fill/03.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
