<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__row">
        <a href="./" class="header__logo">
          <span>Insight</span>
          <span>Group</span>
        </a>

        <div class="footer__row">
          <a href="#" class="footer__text">Карта сайта</a>
          <a href="#" class="footer__text">Срок службы</a>
        </div>
      </div>
      <div class="footer__row">
        <p class="footer__text">Все права защищены 2024</p>
        <a href="#" class="footer__text">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>
