<section class="furn-cat">
  <div class="container">
    <h2 class="title2 furn-cat__title">Каталог</h2>

    <div class="furn-cat__items more-content">
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/01.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/02.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/03.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/04.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/05.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/06.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/01.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/02.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/03.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/04.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/05.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
      <a href="#" class="furn-cat__item hover-effect">
        <div class="furn-cat__img">
          <img src="./img/furn/06.webp" alt="" />
        </div>
        <p class="furn-cat__name">Название объекта</p>
      </a>
    </div>

    <div class="furn-cat__bottom">
      <div class="furn-cat__more more-btn">Показать больше</div>
    </div>
  </div>
</section>
