<header class="header header--abs">
  <div class="container">
    <div class="header__container">
      <a href="./" class="header__logo">
        <span>Insight</span>
        <span>Group</span>
      </a>

      <div class="header__right">
        <nav class="nav header__nav">
          <ul class="list-reset nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link">О компании</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Проекты</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Интерьер</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Этапы</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Комплекс</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Мебель</a>
            </li>
          </ul>
        </nav>

        <a href="tel:+79999990939" class="btn-reset btn header__tel">
          +7 (999) 999 09-39
        </a>
        <button
          class="btn-reset burger"
          aria-label="Открыть меню"
          aria-expanded="false"
          data-burger
        >
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
  </div>
</header>
@include('./burger-menu.html')
<div class="custom-cursor" id="customCursor">
  <span></span>
</div>
