<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="hero__title">Insight Group</h1>
        <p class="hero__desc">
          Эксперт в сфере подбора недвижимости с мебелью премиум-класса!
        </p>
        <div class="hero__items">
          <div class="hero__item">От проекта до полной реализации</div>
          <div class="hero__item">Поэтапная оплата</div>
          <div class="hero__item">Фиксация стоимости и сроков</div>
        </div>
      </div>
      <div class="hero__play">
        <button class="btn-reset btn hero__btn hero__btn--circle">
          <svg
            width="18"
            height="21"
            viewBox="0 0 18 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M18 10.5L0.75 20.4593V0.540708L18 10.5Z" fill="#E1E1E1" />
          </svg>
        </button>

        <span> Нажмите для<br />просмотра видео </span>
      </div>
    </div>
  </div>
</section>
