<section class="offer">
  <div class="container">
    <div class="offer__container">
      <div class="offer__content offer__content--long">
        <h2 class="offer__title">Специальное предложение для наших клиентов</h2>
        <p class="offer__desc">
          Заполните свою недвижимость нашей мебелью и получите специальную цену
          на установку
        </p>
        <button class="btn-reset btn offer__btn">Получить цену</button>
      </div>

      <div class="offer__img">
        <!-- <img src="./img/offer/02.webp" alt="" /> -->
      </div>
    </div>
  </div>
</section>
