<div class="container">
  <div class="breadcrumbs">
    <ul class="list-reset">
      <li>
        <a href="./">Главная</a>
      </li>
      <li>
        <a href="./catalog.html">Проекты</a>
      </li>
      <li>Наименование проекта</li>
    </ul>
  </div>
</div>
<section class="proj">
  <div class="container">
    <h2 class="title2 proj__title">Наименование<br />проекта</h2>
    <div class="proj__container">
      <div class="proj__left">
        <div class="proj__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/single/02.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/single/02.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/single/02.webp" alt="" />
            </div>
          </div>
        </div>
        <div class="pagination proj__pagination swiper-pagination"></div>
      </div>

      <div class="proj__right">
        <ul class="proj__chars list-reset">
          <li class="proj__char pchar">
            <div class="pchar__left">Материал</div>
            <div class="pchar__right">Кирпич</div>
          </li>
          <li class="proj__char pchar">
            <div class="pchar__left">Общая площадь</div>
            <div class="pchar__right">196 м²</div>
          </li>
          <li class="proj__char pchar">
            <div class="pchar__left">Террасы,балконы:</div>
            <div class="pchar__right">46,9 м²</div>
          </li>
          <li class="proj__char pchar">
            <div class="pchar__left">Габариты:</div>
            <div class="pchar__right">14x13.5 м</div>
          </li>
          <li class="proj__char pchar">
            <div class="pchar__left">Высота конька:</div>
            <div class="pchar__right">8.655 м</div>
          </li>
          <li class="proj__char pchar">
            <div class="pchar__left">Наружные стены:</div>
            <div class="pchar__right">
              газобетонные блоки 400 или деревянный карка
            </div>
          </li>
          <li class="proj__char pchar">
            <div class="pchar__left">Фундамент: </div>
            <div class="pchar__right">монолитная ж/б плита</div>
          </li>
          <li class="proj__char pchar">
            <div class="pchar__left">Наружная отделка:</div>
            <div class="pchar__right">навесной фасад</div>
          </li>
          <li class="proj__char pchar">
            <div class="pchar__left">Архитектурный стиль:</div>
            <div class="pchar__right">барнхаус</div>
          </li>
          <li class="proj__char pchar">
            <div class="pchar__left">Перекрытия:</div>
            <div class="pchar__right">монолитные ж/б</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
