<section class="proj-cta">
  <div class="container">
    <div class="proj-cta__container">
      <div class="desc proj-cta__desc">
        eu sollicitudin. luctus ex amet, varius sit lorem. libero, Nullam Ut
        Vestibulum viverra ipsum urna Cras tortor. Ut Donec amet, scelerisque
        ex. consectetur at,
        <br /><br />
        felis, nibh vitae scelerisque leo. elit nisi quam scelerisque diam odio
        maximus id Morbi convallis. sapien ex in ipsum quis Praesent ac
        scelerisque lacus Ut
        <br /><br />
        dui. Nunc tincidunt Donec quis massa volutpat ullamcorper tincidunt Sed
        at, nec sapien quam quam vitae eget leo. ex. ex ac non lorem. commodo id
        adipiscing in
      </div>
      <div class="proj-cta__cta">
        <div class="proj-cta__title">Рассчитать свой проект</div>
        <button class="btn-reset btn proj-cta__btn">Заявка на расчет</button>
      </div>
    </div>
  </div>
</section>
