<section class="projects">
  <div class="container">
    <h2 class="title2 projects__title">Проекты</h2>

    <div class="projects__container">
      <div class="projects__item" data-item="01">
        <div class="projects__name capture">Дом с камином из кирпича</div>
        <span class="projects__mat">дом из кирпича</span>
        <div class="projects__img">
          <img src="./img/proj/01.webp" alt="" />
        </div>
      </div>
      <div class="projects__item" data-item="02">
        <div class="projects__name capture">2 этажа элитный дом из дерева</div>
        <span class="projects__mat">дом из дерева</span>
        <div class="projects__img">
          <img src="./img/proj/02.webp" alt="" />
        </div>
      </div>
      <div class="projects__item" data-item="03">
        <div class="projects__name capture">2 этажа элитный дом из кирпича</div>
        <span class="projects__mat">дом из кирпича</span>
        <div class="projects__img">
          <img src="./img/proj/03.webp" alt="" />
        </div>
      </div>
      <div class="projects__item" data-item="04">
        <div class="projects__name capture">
          Элитный дом с камином из дерева
        </div>
        <span class="projects__mat">дом из дерева</span>
        <div class="projects__img">
          <img src="./img/proj/04.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
