<section class="steps">
  <div class="container">
    <h2 class="steps__title title2">Этапы</h2>

    <div class="steps__items">
      <div class="steps__item steps-item">
        <div class="steps-item__header">
          <div class="steps-item__fig">01</div>
          <div class="steps-item__name">Консультация</div>
        </div>
        <div class="steps-item__body">
          <p>
            мы начинаем с детального обсуждения ваших предпочтений и пожеланий.
            На основе этого наши специалисты предлагают оптимальные решения,
            которые идеально впишутся в вашу концепцию.
          </p>
        </div>
      </div>
      <div class="steps__item steps-item">
        <div class="steps-item__header">
          <div class="steps-item__fig">02</div>
          <div class="steps-item__name">Подбор мебели</div>
        </div>
        <div class="steps-item__body">
          <p>
            благодаря тесному сотрудничеству с лучшими итальянскими
            производителями, мы подбираем мебель, которая идеально соответствует
            вашим требованиям по стилю, материалам и функциональности.
          </p>
        </div>
      </div>
      <div class="steps__item steps-item">
        <div class="steps-item__header">
          <div class="steps-item__fig">03</div>
          <div class="steps-item__name">Комплексное оформление</div>
        </div>
        <div class="steps-item__body">
          <p>
            наша цель — создать готовое пространство. Мы можем предложить не
            только мебель, но и другие элементы интерьера, чтобы каждый уголок
            выглядел гармонично и эстетично.
          </p>
        </div>
      </div>
      <div class="steps__item steps-item">
        <div class="steps-item__header">
          <div class="steps-item__fig">04</div>
          <div class="steps-item__name">Монтаж и установка</div>
        </div>
        <div class="steps-item__body">
          <p>
            мы занимаемся полным циклом: от доставки мебели до профессиональной
            установки, гарантируя, что каждая деталь будет на своем месте.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
