<section class="tg">
  <div class="container">
    <div class="tg__container">
      <h2 class="tg__title">
        Не упусти акции, подпишись на наш телеграмм канал
      </h2>

      <div class="tg__plug tg-plug">
        <div class="tg-plug__header">
          <p class="tg-plug__tg">Telegram</p>
          <p class="tg-plug__title">Insight Group</p>

          <div class="tg-plug__img">
            <img src="./img/tg-icon.webp" alt="" />
          </div>
        </div>
        <p class="tg-plug__desc">
          Добро пожаловать на канал Inslight Group эксперта в сфере подбора
          недвижимости с мебелью премиум-класса!<br />Создано в @devrent_ru
        </p>
      </div>
    </div>
  </div>
</section>
