*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #181818;

  font-size: calc(100vw / 140);

  @media (min-width: 1400px) {
    font-size: 10px;
  }
  @media (max-width: 768px) {
    font-size: calc(100vw / 60.8);
  }
}
.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  // cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 89%;
  color: #fff;

  padding: 1.3rem 2.9rem;
  box-shadow: 2px 2px 4px 0 rgba(169, 135, 107, 0.2);
  background: linear-gradient(90deg, #a9876b 0%, #58412e 100%);
  border-radius: 3rem;
  background-size: 150% 150%;
  background-position: 0;
  transition: 0.3s ease-in-out;
  @include hover {
    background-position: 100%;
    cursor: none !important;
  }
}
* {
  cursor: none !important;
}
.desc {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2rem;
  color: #fff;

  p {
    margin: 0;
  }
}

.title2 {
  margin: 0;
  margin-bottom: 6rem;
  font-weight: 400;
  font-size: 4.8rem;
  color: #fff;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: calc(100% + 1.5rem);
    left: 0;
    width: 15.2rem;
    height: 0.2rem;
    background-color: #a9876b;
  }
}
.capture {
  margin: 0;
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
}
.text {
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  color: #eee;
}

.control {
  display: flex;
  gap: 0.8rem;
}
.control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  border: 2px solid #a9876b;
  // cursor: pointer;
  &--prev {
    transform: rotateZ(180deg);
  }
}
section {
  margin-bottom: 5.2rem;

  @include mobile {
    margin-bottom: 2rem;
  }
}

.breadcrumbs {
  ul {
    margin: 4rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    li {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 89%;
      color: #a9876b;

      &:not(:last-child) {
        &::after {
          content: "/";
          color: #fff;
        }
      }
      a {
        color: #fff;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: static;
  margin-top: 4rem;
  .swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 1.5rem;
    --swiper-pagination-bullet-height: 1.5rem;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-color: #a9876b;
    border: 1px solid #a9876b;
  }
}
body {
  cursor: none !important;
}
a:hover {
  cursor: none;
}
.custom-cursor {
  position: absolute;
  z-index: 10000;
  width: 1.2rem;
  height: 2rem;
  @include mobile {
    display: none;
  }
  span {
    position: relative;
    z-index: 10000;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("./../img/cursor.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  pointer-events: none; /* Заставляет курсор "пропускать" элементы, чтобы было удобно взаимодействовать с контентом */
  transition: transform 0.1s ease; /* При плавном перемещении добавляем эффект */

  &::before {
    content: "";
    position: absolute;
    inset: -2.5rem;
    border-radius: 100%;
    // z-index: -1;
    background-color: #181818;
    backdrop-filter: blur(54.70000076293945px);
  }
  &::after {
    content: "";
    position: absolute;
    inset: -4rem;
    opacity: 0.5;
    border-radius: 100%;
    // z-index: -1;
    background-color: #181818;
    backdrop-filter: blur(54.70000076293945px);
  }
  &::before,
  &::after {
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  &.hover {
    &::before {
      opacity: 1;
    }
    &::after {
      opacity: 0.4;
    }
  }
}
.burger {
  @include burger;

  display: none;
  @include mobile {
    display: flex;
  }
}
